<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WDSF_Checkin.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WDSF_Checkin.AppSettings>
            <setting name="API_User" serializeAs="String">
                <value>guest</value>
            </setting>
            <setting name="API_Password" serializeAs="String">
                <value>guest</value>
            </setting>
            <setting name="API_ProductionSystem" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ParticipantExportPath" serializeAs="String">
                <value>C:\temp</value>
            </setting>
            <setting name="OfflineDataPath" serializeAs="String">
                <value>{temp}\WDSF.Checkin\OfflineData</value>
            </setting>
            <setting name="StartNumberFile" serializeAs="String">
                <value>C:\temp\startnumber.txt</value>
            </setting>
            <setting name="WorkOffline" serializeAs="String">
                <value>False</value>
            </setting>
        </WDSF_Checkin.AppSettings>
    </applicationSettings>
</configuration>